.airtable-image {
    transition: all .2s;
    margin: 0.8%;
    border-radius: 2%;
}

.airtable-image:hover {
    opacity: 70%;
}

.airtable-record {
    margin-bottom: 50px;
    clear: both
}

.airtable-record h3 {
    clear: none;
}

.airtable-video {
    margin: 0.8%;
    border-radius: 2%;
}

.airtable-table {
    border-collapse: collapse;
}

.airtable-table tbody {
    overflow: auto;
    height: 100px;
}

.airtable-table th td {
    width: 200px;
}


.airtable-table img, video, audio {
    width: auto !important;
}
