.airtable-image {
    /*position: absolute; left: 20%; top: 20%;*/
    transition: all .2s;
    margin: 0.8%;
    border-radius: 2%;
}

.airtable-image:hover {
    /*transform: scale(1.05);*/
    opacity: 70%;
}